* {
    padding: 0;
    margin: 0;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid black;
    border-radius: 20px;
    width: 300px;
    height: 350px;
    overflow: hidden;
    color: white;
    text-align: center;
}

.ombra {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #4f4f4f;
    z-index: 1;
    opacity: 0;
    transition: background-color 1s;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

.salva {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 2px solid red;
    background-color: red;
    border-radius: 999px;
    width: 60px;
    height: 30px;
    font-weight: bold;
    padding: 4px 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    background-color: white;
    border-radius: 999px;
    width: 120px;
    height: 20px;
    padding: 8px 8px;
    transform: translateY(70px);
    transition: transform 1s;
    color: black;
}

.upload {
    position: absolute;
    bottom: 15px;
    right: 80px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: transform 1s;
    color: black;
}

.option {
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(70px);
    transition: transform 1s;
    color: black;
}

.card:hover .ombra {
    background-color: linear-gradient(90deg, rgba(79, 79, 79, 1) 0%, rgba(79, 79, 79, 1) 100%);
    opacity: .3;
}

.card:hover .salva {
    transform: translateX(0);
}

.card:hover .link,
.card:hover .upload,
.card:hover .option {
    transform: translateY(0);
}