* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card i {
    color: black;
    justify-content: center;
}

.ombra {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 350px;
    background-color: #636262;
    opacity: 0;
    transition: opacity 0.5s;
}

.salva {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 25px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 999px;
    padding: 10px 6px;
    transform: translateX(110px);
    transition: transform 0.5s;
}

.link {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 120px;
    height: 25px;
    border: 2px solid black;
    background-color: white;
    color: white;
    font-weight: bold;
    border-radius: 999px;
    padding: 10px 6px;
    transform: translateY(70px);
    transition: transform 0.5s;
}

.link i {}

.upload {
    position: absolute;
    bottom: 15px;
    left: 160px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    transform: translateY(70px);
    transition: transform 0.5s;
}

.options {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background-color: white;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    transform: translateY(70px);
    transition: transform 0.5s;
}


.card:hover {
    box-shadow: 0 0 20px rgb(122, 118, 118);
}

.card:hover .ombra {
    opacity: 0.3;
}

.card:hover .salva {
    transform: translateX(0);
}

.card:hover .link {
    transform: translateY(0);
}

.card:hover .upload {
    transform: translateY(0);
}

.card:hover .options {
    transform: translateY(0);
}